.login {
    height: 90px;
    width: 190px;
    margin: auto;
    border: 1px #CCC solid;
    padding: 10px;
}

.login input {
    padding: 5px;
    margin: 5px
}

.container {
    margin: auto;
    padding: 2rem;
    text-align: center;
}